<!-- <app-shopping-cart></app-shopping-cart> -->

<!-- <app-test [parentData]="name" (childEvent)="message = $event" (newItemEvent)="addItem($event)"></app-test>

<p> From child {{ message }}</p>

<ul>
    <li *ngFor="let item of items">{{item}}</li> 
</ul> -->

<!-- <div class="d-flex justify-content-end" style="margin: 20px; align-items: baseline;">
    <p *appHidden="isLogin">Hi, {{ name }}!</p> 
    <p *appHidden="isLogout">Hi, Guest!</p>
    
    <button 
        *appHidden="isLogout" 
        type="button" 
        class="btn btn-outline-primary"
        (click)="loginChange()"
    >
        Login
    </button>
    <button 
        *appHidden="isLogin" 
        type="button" 
        class="btn btn-outline-success"
        (click)="loginChange()"
    >
        Logout
    </button>
</div>

<app-products></app-products> -->

<h1 class="text-center">Template-driven and Reactive Forms</h1>

<nav class="d-flex justify-content-center align-items-center">
  <button class="btn btn-primary m-2" (click)="toggleFormType('TDF')">TDF</button>
  <button class="btn btn-info m-2" (click)="toggleFormType('reactiveForm')">Reactive Form</button>
</nav>

<app-register *ngIf="showTDF"></app-register>

<app-reactive-register-form *ngIf="showReactiveForm"></app-reactive-register-form>